*{
    margin: 0;
    border: 0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#0b0b12;
    color: #ffffff;
    min-height: 100vh;
}
button{
    font:inherit;
    cursor:pointer;
}

section{
     width: 90%;
    max-width: 1200px;
    margin: 60px auto;
}

header{
    padding: 20px 5%;
}

#title{
      display: flex;
    align-items: center;
    gap: 12px;
}
#main-title {
    font-size: 28px;
    letter-spacing: 1px;
}

#title > p {
    color: #999;
    font-size: 13px;
}
.navbar {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-btn,
.resell-btn,
.theme-btn,
.profile-btn {
    border: none;
    background: transparent;
    color: #ffffff;
    padding: 10px 14px;
    border-radius: 10px;
    transition: 0.3s;
}
.nav-btn:hover,
.resell-btn:hover {
    background: #191923;
}
.theme-btn,
.profile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.theme-btn:hover,
.profile-btn:hover {
    background: #191923;
}
.theme-btn svg,
.profile-btn svg {
    width: 18px;
}
/*serach bar*/

.search-section {
    text-align: center;
    margin-top: 70px;
}

.search-section h2 {
    font-size: 38px;
    margin-bottom: 25px;
}

.search-bar {
    max-width: 750px;
    margin: auto;
    padding: 8px 8px 8px 20px;

    display: flex;
    align-items: center;
    gap: 12px;

    background: #15151f;
    border: 1px solid #292936;
    border-radius: 15px;
}
.search-bar svg {
    width: 20px;
    color: #999;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 15px;
}

.search-bar input::placeholder {
    color: #777;
}

.search-btn {
    border: none;
    padding: 12px 22px;
    border-radius: 10px;
    background: #7c3aed;
    color: white;
    transition: 0.3s;
}

.search-btn:hover {
    background: #8b5cf6;
    transform: translateY(-2px);
}